<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/TERM PROJECT/static/style.css" />
    <title>TERM PROJECT</title>
  </head>
  <body onload="myFunction()" style="margin: 0">
    <div id="loader"></div>
    <div class=""></div>
    <div style="display: none" id="myDiv" class="animate-bottom">
      <header>
        <nav
          class="navbar navbar-expand-lg navbar-dark"
          style="font-weight: bold"
        >
          <div class="container">
            <a class="navbar-brand" href="#">Logo</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav align-baseline">
                <a class="nav-link active" aria-current="page" href="#">Home</a>

                <a class="nav-link" href="/TERM PROJECT/template/about.html"
                  >About</a
                >
              </div>
            </div>
          </div>
        </nav>
        <div class="container-fluid text-light">
          <div class="row align-items-center p-4 d-flex justify-content-evenly">
            <img
              class="col-xs-12 col-md-4 col-lg-5"
              src="/TERM PROJECT/img/Header img.png"
              alt="Biodiversity"
              id="hero-img"
            />
            <div class="col-xs-12 col-md-4 col-lg-5 text-start">
              <h1>
                Biodiversity and the Sustainable Development Goals:
                <h6 class="lead">A Blueprint for a Sustainable Future</h6>
                <button type="button" class="btn btn-primary btn-lg">
                  <a
                    class="text-light link-offset-2 link-underline link-underline-opacity-0"
                    href="#moreInfo"
                    >Learn more</a
                  >
                </button>
              </h1>
            </div>
          </div>
        </div>
      </header>

      <main>
        <div class="container-lg">
          <section
            class="align-items-center d-flex justify-content-evenly"
            id="moreInfo"
          >
            <div class="row d-flex justify-content-evenly">
              <div class="col-md-4 col-xs-12 p-4">
                <h3>
                  <small class="text-body-primary"
                    >With faded secondary text</small
                  >
                </h3>
                <p align="justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cumque tenetur ab vel necessitatibus debitis quibusdam
                  voluptates fugit, praesentium magnam expedita sapiente dolore
                  corrupti numquam eveniet dolor perferendis, totam veniam
                  mollitia quas ad ea.
                </p>
              </div>
              <div class="col-md-4 col-xs-12 p-4">
                <h3>
                  <small class="text-body-primary"
                    >With faded secondary text</small
                  >
                </h3>
                <p align="justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cumque tenetur ab vel necessitatibus debitis quibusdam
                  voluptates fugit, praesentium magnam expedita sapiente dolore
                  corrupti numquam eveniet dolor perferendis, totam veniam
                  mollitia quas ad ea.
                </p>
              </div>
              <div class="col-md-4 col-xs-12 p-4">
                <h3>
                  <small class="text-body-primary"
                    >With faded secondary text</small
                  >
                </h3>
                <p align="justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cumque tenetur ab vel necessitatibus debitis quibusdam
                  voluptates fugit, praesentium magnam expedita sapiente dolore
                  corrupti numquam eveniet dolor perferendis, totam veniam
                  mollitia quas ad ea.
                </p>
              </div>
            </div>
          </section>
        </div>
        <section
          style="
            background-image: linear-gradient(45deg, var(--blue), var(--dark));
            -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
            clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
            padding: 10rem 0;
          "
        >
          <div class="container-lg text-light">
            <div class="row d-flex justify-content-evenly">
              <div class="col-md-5 col-xs-12">
                <img
                  src="/TERM PROJECT/img/sample img/image.png"
                  alt=""
                  class="rounded mx-auto d-block img-fluid"
                  style="min-width: 90%; max-width: 100%"
                />
              </div>
              <div class="col-md-5 col-xs-12">
                <h4 class="text-right" style="margin-top: 1rem">Description</h4>
                <p align="justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cumque tenetur ab vel necessitatibus debitis quibusdam
                  voluptates fugit, praesentium magnam expedita sapiente dolore
                  corrupti numquam eveniet dolor perferendis, totam veniam
                  mollitia quas ad ea. Labore tempora ea aliquid excepturi vitae
                  magni repellat necessitatibus omnis corporis perferendis iste
                  sapiente nesciunt, alias laboriosam consequatur rem dolorum
                  pariatur voluptates saepe veniam, itaque facere libero
                  assumenda? Labore distinctio dolores natus, tempore asperiores
                  quod doloribus, laboriosam, consequatur molestiae in facilis.
                  Dignissimos reiciendis itaque obcaecati tenetur in quisquam
                  aperiam sequi hic harum, eveniet architecto iusto, quo eos
                  provident dolorem laboriosam vitae magnam commodi fuga
                  consectetur modi quia!
                </p>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="text-light py-5" style="margin-top: 4rem">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
          <p class="mb-1">&copy; GROUP1</p>
        </div>
      </footer>
    </div>
    <script>
      var myVar;

      function myFunction() {
        myVar = setTimeout(showPage, 1000);
      }

      function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
