<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../img/planet-earth.png" type="image/icon type" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>About</title>
  </head>
  <body onload="myFunction()">
    <nav class="navbar navbar-expand-lg navbar-dark" style="font-weight: bold">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img class="logo" src="../img/planet-earth.png" alt="" srcset=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav align-baseline">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="../sdg.html">The SDGs</a>
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </div>
        </div>
      </div>
    </nav>
    <div style="display: none" id="myDiv" class="animate-bottom">
      <div class="container-sm" style="margin-top: 30px">
        <div class="row">
          <div class="col-md-5">
            <h3>Group Members</h3>
            <ol>
              <li>Laxa, Mariah Clarisse L. - Leader</li>
              <li>Castro, Patricia Lyca - Assistant Leader</li>
              <li>Aragon, Marimar B.</li>
              <li>Bautista, Ma. Ellaine P.</li>
              <li>Cea, Angela Joy S.</li>
              <li>Dela Cruz, Joanne Caryll G.</li>
              <li>Estravo, Gabriella</li>
              <li>Garibay, Christine Joy</li>
              <li>Orbista, Juliana Y.</li>
              <li>Ortega, Maryjune</li>
              <li>Rosios, Nuel Jay M.</li>
              <li>Tacda, Khatleya A.</li>
              <li>Yap, Rafael Sean A.</li>
            </ol>
          </div>
          <div class="col-md-5">
            <p>
              This webpage has been made possible using the following
              technologies:
            </p>
            <li>Bootstrap 5</li>
          </div>
          <div class="col-sm-10" id="reference">
            <h4>References:</h4>
            <ul>
              <li>
                AMNH. (2014). What is Biodiversity? Why Is It Important?.
                Retrieved from
                https://www.amnh.org/research/center-for-biodiversity-conservation/what-is-biodiversity
              </li>
              <li>
                Arizona State University (n.d.) What is biodiversity and why is
                it important? Retrieved from
                https://sustainability-innovation.asu.edu/biodiversityoutcomes/biodiversity-introduction/#:~:text=Biodiversity%20is%20the%20variety%20of,another%20and%20their%20physical%20environment.
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      var myVar;

      function myFunction() {
        myVar = setTimeout(showPage, 1000);
      }

      function showPage() {
        document.getElementById("myDiv").style.display = "block";
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
