<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../img/planet-earth.png" type="image/icon type" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>TERM PROJECT</title>
  </head>
  <body onload="myFunction()">
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-dark"
      style="font-weight: bold; background: var(--dark); overflow-x: hidden"
    >
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img class="logo" src="../img/planet-earth.png" alt="" srcset=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav align-baseline">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link active" aria-current="page" href="#"
              >Community Action and Engagement</a
            >
            <a class="nav-link" href="../about.html">About</a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <section id="community-action">
        <div class="container">
          <div class="row d-flex justify-content-evenly">
            <div class="col-md-10">
              <h3>Community Action and Engagement</h3>
            </div>
          </div>
        </div>
      </section>
      <section id="awareness" style="background-color: whitesmoke">
        <div class="container text-black">
          <div class="row d-flex justify-content-evenly">
            <div class="col-md-10">
              <h3 align="center" class="p-4">Awareness and Education</h3>
            </div>

            <div class="col-lg-5 float-end">
              <img
                class="rounded-4"
                style="
                  width: 100%;
                  border: 5px solid white;
                  margin-bottom: 20px;
                  z-index: 4;
                "
                src="../img/4.png"
                alt=""
              />
            </div>

            <div class="col-lg-5" align="justify">
              <h6>
                1. The importance of raising awareness about species,
                ecosystems, and the interconnection of the living world
              </h6>

              <ul>
                <li>
                  Raising awareness of species, ecosystems, and the
                  interconnection of the world is essential to creating a
                  sustainable future for us. By increasing awareness, people can
                  become more mindful of their actions and make decisions that
                  are better for the environment and our health. Education about
                  the importance of biodiversity and the interconnectedness of
                  the living world can help individuals understand how our
                  actions can affect the environment. It is essential for the
                  sustainable and fair use of biodiversity and its conservation.
                  The condition of biodiversity in the future will be determined
                  by the globally coordinated action of an informed public,
                  including programs to encourage local and indigenous
                  understanding of biodiversity. Knowing the importance of
                  biodiversity and the interconnection of the living world is
                  necessary for the long-term health of our planet.
                </li>
              </ul>
            </div>
            <div class="col-lg-5" align="justify">
              <h6>
                2. Strategies for increasing knowledge at individual and
                community levels
              </h6>

              <ul>
                <li>Individual</li>
                <ul>
                  <li>
                    Media campaigns use the social media platform, television,
                    and radio since everyone is using them. Do documentaries or
                    vlogs about it since a lot of people like watching videos on
                    social media. It can reach a wide audience effectively and
                    rapidly and raise awareness about species and ecosystems.
                    Lastly, lead by example to guide individuals through your
                    actions instead of using only words.
                  </li>
                </ul>
                <li>Community</li>
                <ul>
                  <li>
                    Create a community engagement to encourage the community to
                    take part in spreading awareness and giving education to
                    other people about species and ecosystems. Having a
                    community base can help you reach an audience and give them
                    awareness. Lastly, collaborating with your local
                    stakeholders can provide valuable insights into traditional
                    knowledge and sustainable practices. This can help to
                    exchange knowledge and enhance the understanding of the
                    interconnection between humans and the natural world.
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-lg-5 float-lg-end">
              <img style="width: 100%" src="../img/awareness.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section id="interconnection">
        <div class="container">
          <div class="row d-flex justify-content-evenly">
            <div class="col-md-10">
              <h3>Interconnection of the Living World</h3>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="text-light py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">&copy; GROUP1</p>
      </div>
    </footer>
    <script>
      var myVar;

      function myFunction() {
        myVar = setTimeout(showPage, 1000);
      }

      function showPage() {
        document.getElementById("myDiv").style.display = "block";
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
