<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../img/planet-earth.png" type="image/icon type" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>TERM PROJECT</title>
  </head>
  <body onload="myFunction()">
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-dark"
      style="font-weight: bold; background: var(--dark); overflow-x: hidden"
    >
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img class="logo" src="../img/planet-earth.png" alt="" srcset=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav align-baseline">
            <a class="nav-link" href="../index.html">Introduction</a>
            <a class="nav-link active" aria-current="page" href="#"
              >Community Action and Engagement</a
            >
            <a class="nav-link" href="../about.html">About</a>
          </div>
        </div>
      </div>
    </nav>
    <div style="display: none" id="myDiv" class="animate-bottom">
      <main>
        <section
          id="community-action"
          style="
            background: url('../img/Sustainable Development Goals.png');
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
          "
        >
          <div
            class="bg-image"
            style="filter: brightness(50%); -webkit-filter: brightness(50%)"
          ></div>
          <div
            class="container"
            style="
              background-color: rgba(71, 95, 133, 0.518);
              padding: 50px 0;
              border-radius: 20px;
            "
          >
            <div class="row d-flex justify-content-center p-2">
              <div class="col-md-10">
                <h2>Community Action and Engagement</h2>
                <p align="justify">
                  There are many successful community initiatives promoting
                  biodiversity conservation and sustainable development in the
                  Philippines. Here are some of them:
                </p>
              </div>
              <div class="col-md-10" align="justify">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        The Protect Wildlife Project
                      </button>
                    </h2>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="row accordion-body">
                        <div class="col-lg-5 mx-auto d-block" id="c-ac-img">
                          <img
                            src="../img/protect-wildlife.jpg"
                            id="accImg"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="col-lg-7">
                          <p>
                            The Protect Wildlife Project is a collaboration
                            between USAID, Conservation International, and other
                            partners to combat the threats to wildlife and the
                            causes of biodiversity loss in the Philippines. The
                            project works with the Philippine government and
                            local communities to improve natural resource
                            governance, enhance economic incentives, stimulate
                            public and private sector investments, and reduce
                            environmental crime. The project focuses on key
                            protected areas in Palawan, Tubbataha Reef, and the
                            Sulu Archipelago, as well as new sites in southern
                            Mindanao.
                          </p>
                          <a
                            id="lAccord"
                            target="_blank"
                            href="https://www.conservation.org/philippines/projects/protecting-biodiversity-in-the-philippines"
                            >Read more</a
                          >
                          <div align="center" id="audCon">
                            <audio controls>
                              <source src="#" type="" />
                            </audio>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        The SIBOL Activity
                      </button>
                    </h2>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="row accordion-body">
                        <div class="col-lg-5 mx-auto d-block" id="c-ac-img">
                          <img
                            src="../img/sibol-act.jpg"
                            id="accImg"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="col-lg-7">
                          <p>
                            The SIBOL Activity is a five-year initiative
                            launched by USAID and RTI in 2020 to support the
                            sustainable management and governance of key natural
                            resources and reduce environmental crimes and
                            unsustainable practices in the Philippines. The
                            activity works with the Department of Environment
                            and Natural Resources, and the Department of
                            Agriculture’s Bureau of Fisheries and Aquatic
                            Resources, to strengthen informed decision making,
                            enhance economic incentives, stimulate public and
                            private sector investments, and reduce environmental
                            crime. The activity has set up four sites in key
                            protected areas: Masinloc-Oyon Bay, Puerto Princesa
                            Subterranean River National Park & Cleopatra’s
                            Needle Forest Reserve, Mt. Mantalingahan Protected
                            Landscape, and Kubulau District.
                          </p>

                          <a
                            id="lAccord"
                            target="_blank"
                            href="https://www.rti.org/impact/sustainable-conservation-biodiversity-philippines-sibol"
                            >Read more</a
                          >
                          <div align="center" id="audCon">
                            <audio controls>
                              <source src="#" type="" />
                            </audio>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        The Palm Dialog
                      </button>
                    </h2>
                    <div
                      id="collapseThree"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="row accordion-body">
                        <div class="col-lg-5 mx-auto d-block" id="c-ac-img">
                          <img
                            src="../img/palm-dialog.jpg"
                            id="accImg"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="col-lg-7">
                          <p>
                            The Palm Dialog is a project by BASF to ensure that
                            its renewable-based products are made from
                            sustainably sourced raw materials. The project works
                            with partners to establish a certified coconut oil
                            supply chain that will improve the livelihood of
                            coconut farmers in the Philippines and Indonesia.
                            The project also aims to promote good agricultural
                            practices, increase productivity, reduce
                            environmental impacts, and enhance social standards.
                          </p>
                          <a
                            id="lAccord"
                            target="_blank"
                            href="https://unfccc.int/blog/7-biodiversity-projects-tackling-climate-change"
                            >Read more</a
                          >
                          <div align="center" id="audCon">
                            <audio controls>
                              <source src="#" type="" />
                            </audio>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        The Reef Rangers Network
                      </button>
                    </h2>
                    <div
                      id="collapseFour"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="row accordion-body">
                        <div class="col-lg-5 mx-auto d-block" id="c-ac-img">
                          <img
                            src="../img/reef-rangers.jpg"
                            id="accImg"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="col-lg-7">
                          <p>
                            The Reef Rangers Network is a project by
                            WWF-Philippines to combat coral reef destruction
                            caused by blast fishing, pollution, and climate
                            change in the Tun Mustapha Park. The project works
                            with communities to train them as Reef Rangers, who
                            patrol the reefs, report illegal activities, collect
                            data on coral health and fish stocks, and restore
                            damaged corals using artificial structures. The
                            project also raises awareness among fishers and
                            tourists about the importance of coral reefs for
                            marine ecosystems and human well-being.
                          </p>
                          <a
                            id="lAccord"
                            target="_blank"
                            href="https://byjus.com/biology/biodiversity-conservation/"
                            >Read more</a
                          >
                          <div align="center" id="audCon">
                            <audio controls>
                              <source src="#" type="" />
                            </audio>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="awareness" style="background-color: whitesmoke">
          <div class="container text-black">
            <div class="row d-flex justify-content-evenly">
              <div class="col-md-10">
                <h2 align="center" class="p-4">Awareness and Education</h2>
              </div>

              <div class="col-lg-5 float-end">
                <img
                  class="rounded-4"
                  style="
                    width: 100%;
                    border: 5px solid white;
                    margin-bottom: 20px;
                    z-index: 4;
                  "
                  src="../img/4.png"
                  alt=""
                />
              </div>

              <div class="col-lg-5" align="justify">
                <h6>
                  1. The importance of raising awareness about species,
                  ecosystems, and the interconnection of the living world
                </h6>

                <ul>
                  <li>
                    Raising awareness of species, ecosystems, and the
                    interconnection of the world is essential to creating a
                    sustainable future for us. By increasing awareness, people
                    can become more mindful of their actions and make decisions
                    that are better for the environment and our health.
                    Education about the importance of biodiversity and the
                    interconnectedness of the living world can help individuals
                    understand how our actions can affect the environment. It is
                    essential for the sustainable and fair use of biodiversity
                    and its conservation. The condition of biodiversity in the
                    future will be determined by the globally coordinated action
                    of an informed public, including programs to encourage local
                    and indigenous understanding of biodiversity. Knowing the
                    importance of biodiversity and the interconnection of the
                    living world is necessary for the long-term health of our
                    planet.
                  </li>
                </ul>
                <div align="center" id="audCon">
                  <audio controls>
                    <source src="#" type="" />
                  </audio>
                </div>
              </div>
              <div class="col-lg-5" align="justify">
                <h6>
                  2. Strategies for increasing knowledge at individual and
                  community levels
                </h6>

                <ul>
                  <li>Individual</li>
                  <ul>
                    <li>
                      Media campaigns use the social media platform, television,
                      and radio since everyone is using them. Do documentaries
                      or vlogs about it since a lot of people like watching
                      videos on social media. It can reach a wide audience
                      effectively and rapidly and raise awareness about species
                      and ecosystems. Lastly, lead by example to guide
                      individuals through your actions instead of using only
                      words.
                    </li>
                  </ul>
                  <li>Community</li>
                  <ul>
                    <li>
                      Create a community engagement to encourage the community
                      to take part in spreading awareness and giving education
                      to other people about species and ecosystems. Having a
                      community base can help you reach an audience and give
                      them awareness. Lastly, collaborating with your local
                      stakeholders can provide valuable insights into
                      traditional knowledge and sustainable practices. This can
                      help to exchange knowledge and enhance the understanding
                      of the interconnection between humans and the natural
                      world.
                    </li>
                  </ul>
                </ul>
                <div align="center" id="audCon">
                  <audio controls>
                    <source src="#" type="" />
                  </audio>
                </div>
              </div>
              <div class="col-lg-5 float-lg-end">
                <img style="width: 100%" src="../img/awareness.png" alt="" />
              </div>
            </div>
          </div>
        </section>
        <section id="interconnection">
          <div class="container">
            <div class="row d-flex justify-content-evenly">
              <div class="col-md-10">
                <h2>Interconnection of the Living World</h2>
              </div>
              <div class="col-lg-6 col-md-10">
                <iframe
                  src="https://www.youtube.com/embed/Um-bo2MWDsQ"
                  title="Human Impact | Environment | Biology | FuseSchool"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
              <div class="col-lg-6 col-md-10">
                <iframe
                  src="https://www.youtube.com/embed/jAa58N4Jlos"
                  title="Climate Change - A Short Film [4K]"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
              <div align="center" id="audCon">
                <audio controls>
                  <source src="#" type="" />
                </audio>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="text-light py-5">
        <div class="container">
          <p>
            <img
              src="../img/NU_shield.png"
              style="max-height: 3.5rem; margin-bottom: 10px"
              alt=""
            />
            &copy; Cluster 1 - INF231
          </p>
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>
    </div>
    <script>
      var myVar;

      function myFunction() {
        myVar = setTimeout(showPage, 1000);
      }

      function showPage() {
        document.getElementById("myDiv").style.display = "block";
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
