<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../img/planet-earth.png" type="image/icon type" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>TERM PROJECT</title>
  </head>
  <body onload="myFunction()">
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark"
      style="font-weight: bold"
    >
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img class="logo" src="../img/planet-earth.png" alt="" srcset=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav align-baseline">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#Overview">Overview</a>
            <a class="nav-link" href="#challenges">Challenges</a>
            <a class="nav-link" href="#solutions">Solutions</a>
            <a class="nav-link" href="#community-action">Community Action</a>
            <!-- <a class="nav-link" href="#awareness">Overview</a> -->
            <!-- <a class="nav-link" href="#interconnection">Overview</a> -->
            <a class="nav-link" href="#call-to-action">Call to Action</a>
            <a class="nav-link" href="../about.html">About</a>
          </div>
        </div>
      </div>
    </nav>
    <div
      style="display: none; margin-top: 3.5rem"
      id="myDiv"
      class="animate-bottom"
    >
      <div class="container-lg text-light">
        <div class="row align-items-center d-flex justify-content-center">
          <img
            class="col-sm-10 col-md-5 col-lg-5"
            src="../img/Header img.png"
            alt="Biodiversity"
            id="hero-img"
          />
          <div
            class="col-sm-10 col-md-5 col-lg-5 p-3 text-center text-md-start"
          >
            <h1>
              Biodiversity and the Sustainable Development Goals:
              <h6 class="lead">A Blueprint for a Sustainable Future</h6>
              <button type="button" class="btn btn-primary btn-lg">
                <a
                  class="text-light link-offset-2 link-underline link-underline-opacity-0"
                  href="#sec1"
                  >Learn more</a
                >
              </button>
            </h1>
          </div>
        </div>
      </div>

      <main id="sec1">
        <div class="container-lg">
          <section
            class="align-items-center d-flex justify-content-evenly"
            id="moreInfo"
          >
            <div class="row d-flex justify-content-evenly">
              <div class="col-xs-8 col-md-10 p-4">
                <img
                  class="mx-auto d-block"
                  src="../img/leaf.png"
                  alt=""
                  style="height: 4rem; margin-bottom: 2em"
                />
                <h3 class="text-center">
                  <small class="text-body-primary"
                    >What is Biodiversity and the Sustainable Development
                    Goals?</small
                  >
                </h3>
                <p align="justify">
                  Biodiversity, ecosystems, and the vital services they provide
                  are the foundations of all life on Earth, including human
                  existence. They include nutrition feeds with vitamins,
                  foodstuff, medication including medicinal products, energy
                  sources, livelihood basis, as well as occasions towards the
                  progress of religion and social-cultural evolution. The
                  protection of marine and coastal biodiversity is an essential
                  element of sustainable development. Biodiversity provides a
                  base for all fishing and aquaculture operations, and the
                  collection of food and medicine from other species.
                  <a
                    target="_blank"
                    href="https://sustainabledevelopment.un.org/index.php?page=view&type=400&nr=1785&menu=1515"
                    >Read more..</a
                  >
                </p>
                <p align="justify">
                  The Sustainable Development Goals (SDGs) depend on
                  biodiversity and biodiversity is essential to accomplishing
                  the SDGs. A research from the United Nations Environment
                  Programme (UNEP) offers concrete examples of how biodiversity
                  might be crucial to achieving the SDGs of the 2030 Agenda for
                  Sustainable Development. The 2030 Agenda for Sustainable
                  Development has set a goal to “protect, restore, and promote
                  sustainable use of terrestrial ecosystems; sustainably manage
                  forests; combat desertification; and halt and reverse land
                  degradation and biodiversity loss”. Nations have also agreed
                  to identify, eliminate, phase out, or reform incentives
                  harmful to biodiversity while substantially and progressively
                  reducing them by at least 500 billion United States dollars
                  per year by 2030, starting with the most harmful incentives,
                  and scale up positive incentives for the conservation and
                  sustainable use of biodiversity.
                  <a
                    target="_blank"
                    href="https://www.un.org/en/academic-impact/sdgsinacademia-sdg-hub-goal-15"
                    >Read more..</a
                  >
                </p>
                <div align="center">
                  <audio controls>
                    <source src="#" type="" />
                  </audio>
                </div>

                <img
                  class="mx-auto d-block"
                  src="../img/ecology.png"
                  alt=""
                  style="height: 12em; margin-top: 2em"
                />
                <hr
                  class="col-sm-12 col-md-12 col-xxl-12"
                  style="
                    color: rgb(252, 252, 252);
                    background-color: rgb(255, 255, 255);
                  "
                />
              </div>
            </div>
          </section>
        </div>
        <section
          id="Overview"
          style="
            background-image: linear-gradient(45deg, var(--blue), var(--dark));
            -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
            clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
            padding: 10rem 0;
          "
        >
          <div class="container-lg text-light">
            <div class="row d-flex justify-content-evenly">
              <div class="col-lg-5 col-md-5 col-sm-10">
                <img
                  src="../img/sample img/image.png"
                  alt=""
                  class="text-center rounded mx-auto d-block img-fluid"
                  style="min-width: 90%; max-width: 100%"
                />
              </div>
              <div class="col-lg-5 col-md-5 col-sm-10" style="margin-top: 1rem">
                <h4 class="text-right">
                  Importance of Biodiversity in Achieving the Sustainable
                  Development Goals
                </h4>
                <p align="justify">
                  The Convention on Biological Diversity (CBD) defines
                  biodiversity as “the variability among living organisms from
                  all sources including within species, between species, and of
                  ecosystems”. Biodiversity encompasses all living organisms and
                  their interrelationships. There has been a proven link between
                  the state of the ecosystem, reduction in species diversity
                  with deterioration on health and wellness of people.
                  Biodiversity, including that concerning world economy such as
                  forestry, fisheries, agricultural, raising animals, among
                  others. A vast number of people in the whole planet survive
                  with natural resources that they depend upon to eke out a
                  living. More so, scientists assert in their studies that such
                  an ecosystem with great diversity is the “wealth of the poor.”
                  Climatic change has also been attributed to biodiversity loss
                  in their studies. CBD emphasized the impacts of an ecosystem
                  fragmentation or a destruction of an ecosystem. These events
                  reduce carbon dioxide uptake hence leading to increased global
                  greenhouse gases (GHG) concentrations that accelerate climate
                  change.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section id="challenges">
          <h3>Challenges to SDGs and Biodiversity Protection</h3>
        </section>
        <section id="solutions"><h3>Solutions and Strategies</h3></section>
        <section id="community-action">
          <h3>Community Action and Engagement</h3>
        </section>
        <section id="awareness"><h3>Awareness and Education</h3></section>
        <section id="interconnection">
          <h3>Interconnection of the Living World</h3>
        </section>
        <section id="call-to-action"><h3>Call to Action</h3></section>
      </main>

      <footer class="text-light py-5" style="margin-top: 4rem">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
          <p class="mb-1">&copy; GROUP1</p>
        </div>
      </footer>
    </div>
    <script>
      var myVar;

      function myFunction() {
        myVar = setTimeout(showPage, 1000);
      }

      function showPage() {
        document.getElementById("myDiv").style.display = "block";
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
